#番組フォルダ名として優先される番組名のリスト。Program names to be used as folder names
ドキュメント７２時間
孤独のグルメ
シバのおきて～われら犬バカ編集部～
Ｌｅｔ’ｓ　Ｐｌａｙ　クエストだらけのマイライフ
ＴＨＥ　ＭＡＮＺＡＩ
魔法少女まどか☆マギカ　始まりの物語／永遠の物語
カードファイト！！　ヴァンガード
TRIGUN　STARGAZE
すっかり　にちようチャップリン
ＡＫＩＢＡ　ＬＯＳＴ
ＤＲＥＡＭ　ＳＴＡＧＥ
ウルトラマン　ニュージェネレーション　スターズ
Ｔｈｅ　Ｗａｋｅｙ　Ｓｈｏｗ
堀潤　Ｌｉｖｅ Ｊｕｎｃｔｉｏｎ
BEYBLADE　X
ＬＩＡＲ　ＧＡＭＥ
ＬＯＶＥＤ　ＯＮＥ
ＴＨＥ　ＳＥＣＯＮＤ～漫才トーナメント～
ＢａｎＧ　Ｄｒｅａｍ！　Ｉｔ’ｓ　ＭｙＧＯ！！！！！